.garden-title-font {
    color: #03371b;
    font-size: 25px;
    text-align: center;
    font-family: Avigea;
}

.garden-plant-name {
    color: #1b6b3c;
    font-weight: bold;
    line-height: 1.7rem;
}

.garden-plant-picture {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, 0.13));
}

.garden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.garden-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plant-inspo-div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
}

.addplant-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.addplant-btn {
    display: flex;
    margin: auto;
}