.plantspecies-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plantspecies-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.species-basicinfo-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.species-basicinfo-p {
  background-color: #D5D283;
  color: #1D585D;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}

.img-div {
    display: flex;
    justify-content: center;
}

.plantspecies-pic {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.plantspecies-h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1D585D;
    font-weight: 600;
    text-transform: uppercase;
}

.plantspecies-name-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.plant-description {
    background-color: #BFD3BB;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.7rem;
}

.plantspecies-p {
    color: #1D585D;
}

label {
    font-family: Montserrat;
    color: black;
  }
  
  
  p {
    font-family: Montserrat;
    color: black;
  }
  
  input {
    background: #BFD3BB;
    border-radius: 7px;
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 1rem;
    color: white;
    outline: none;
  }
  
  ::placeholder {
    color: white;
  }
  
  button {
    margin: 5px;
    padding: 8px;
    color: white;
    font-family: Montserrat;
    background-color: #BC5827;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 0px 15px;
    padding: 10px 15px;
    box-shadow: 0px 3.82609px 3.82609px rgba(0, 0, 0, 0.25);
  }
  
  button:hover {
    color: black;
    opacity: 1;
  }

  @media (min-width: 667px) {
 
  }

  @media (min-width: 1024px) {
    .plantimgandinfo-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: auto;
    }
    .species-basicinfo-div {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    
   .plant-description {
    width: 60%;
    margin: auto;
  }

  .imgandname-div {
    display: flex;
    flex-direction: column;
  }

  .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .plantspecies-pic {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
  }

  