
.todo-main-container{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
  }

.widerTaskListSection {
  display: flex;
  flex-direction: column;
}
.NewTaskSection {
  display: flex;
  flex-direction: row;
}

.TaskListSection input, label {
  width: 1em;
  height: 1em;
}
.todo-ul {
  display: flex;
  flex-direction: column;
}

.singleTask {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content:space-between;
  gap: 5%;
}

.taskText {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: center;
}

.ClearListButton {
  margin-top: 10%;
  align-self: flex-end;
}
.deleteSingleTaskButton {
  align-self: baseline;
  margin: 5px;
  padding: 8px;
  color: white;
  font-family: Montserrat;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 0px 15px;
  padding: 10px 15px;
  box-shadow: 0px 3.82609px 3.82609px rgba(0, 0, 0, 0.25);
}

button:hover {
  color: black;
  opacity: 1;
}


@media (min-width: 667px) {
    .todo-main-container{
      margin-top: 10%;
    }  

  }

  @media (min-width: 1024px) {
    .todo-main-container{
        margin-top: 10%;
      }  
    .singleTask {
      margin-top: 3%;
      background: #BFD3BB;
      border-radius: 0px 15px;
      width: 300px;
      height: 45px;
      border: none;
      padding-left: 15px;
      font-family: Montserrat;
      font-size: 1rem;
      color: white;
      outline: none;
  }
  .deleteSingleTaskButton {
    align-self: baseline;
    margin: none;
    padding: none;
    color: white;
    font-family: Montserrat;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: none;
    padding: none;
    box-shadow: none;
  }
    }
