.main-container-user-profile{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-buttons-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.user-profile-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

label {
    font-family: Montserrat;
    color: #1D585D;
  }
  
input {
    background: #BFD3BB;
    border-radius: 7px;
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 1rem;
    color: white;
    outline: none;
  }
  
  ::placeholder {
    color: white;
  }

.user-text {
    margin-top: 3%;
    padding-left: 5%;
    background-color: #D5D283;
    color: #1D585D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 45px;
    border-radius: 6px;
    font-weight: 600;
  }
  
  .on-edit-user-button {
    color: #1D585D;
    background: transparent;
    box-shadow: none;
    width: fit-content;
    margin: 5px;
    padding: 8px;
    font-family: Montserrat;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: none;
    padding:none;
  }

  .profilebutton {
    margin: 5px;
    color: white;
    font-family: Montserrat;
    background-color: #BC5827;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 0px 15px;
    width: 150px;
    height: 70px;
    box-shadow: 0px 3.82609px 3.82609px rgba(0, 0, 0, 0.25);
  }
  
  button:hover {
    color: black;
    opacity: 1;
  }

  .user-bio {
    background-color: #BFD3BB;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.7rem;
  }

  @media (min-width: 667px) {
    .main-container-user-profile{
      margin-top: 2%;
    }  

  }

  @media (min-width: 1024px) {
    .main-container-user-profile{
      margin-top: 2%;
      flex-direction: row;
      justify-content: center;
      gap: 2%;
    } 

    .user-profile {
      width: 30%;
    }

    .user-text {
      width: 70%;
    }

    .user-profile-buttons-bio {
      width: 40%;
      justify-content: space-evenly;
      gap: 10px;
    }

    .user-bio {
      min-width: 300px;
      min-height: 150px;
    }

  }