body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  width: 80%;
  height: 100vh;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
  color: white;
}

.garden {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}

nav {
  margin-top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EB7453;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Montserrat;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

label {
  font-family: Montserrat;
  color: black;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

p {
  font-family: Montserrat;
  color: black;
}

input {
  background: #BFD3BB;
  border-radius: 7px;
  width: 300px;
  height: 45px;
  border: none;
  padding-left: 15px;
  font-family: Montserrat;
  font-size: 1rem;
  color: white;
  outline: none;
}

::placeholder {
  color: white;
}

button {
  margin: 5px;
  padding: 8px;
  color: white;
  font-family: Montserrat;
  background-color: #BC5827;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 0px 15px;
  padding: 10px 15px;
  box-shadow: 0px 3.82609px 3.82609px rgba(0, 0, 0, 0.25);
}

button:hover {
  color: black;
}